In [1]:
import pandas as pd
from src.tx_analyzer import BitQuery
from src.tester import TokenTester

In [2]:
transactions = [
    "0xade227c3ad59395cf7a15ceb56085a77c61a29216858fc789d8413ef929a5fbe",
    "0x4494df0f8db3a839ed914bfa58103f7e01b85d159a7d7d6c1851044aa35eadcb",
    "0x8c8c579b81e40d412c969951c36c8b60a650d626a080bdcf812e0e82b4e72535",
    "0x36682e448066ae1831d216c8c4cb3432c7cdddd17c5cd2f17e6582320af68e0b",
    "0x1d7ed2a71554e69289f7e6602d9f9ef2b9171489966fea336ba9c6670f0fc0e5",
    "0xbfdbbfd8d016f960858bf505b5dccd614f5066aef91b5cb756b7f12f8b7fc532",
    "0x9bc514d784ee389511d16ad66a47dc9b58e7a7717efec5609e61f6bf1539717c",
    "0x2e75b9222616e3970d5408fe33ab994f02f3a207af4dd003fa7ea4b94fbaddbd",
    "0x88e486e56b68fa127b93e9c394f5a91e2304c70f7f800acfbe88703f8456b601"
]

# Analyze

Analyze transactions

In [3]:
results = []
for tx in transactions:
    print(tx)
    b = BitQuery()
    print(b.parse(transactions))
    # results.append(b.to_pandas())

0xade227c3ad59395cf7a15ceb56085a77c61a29216858fc789d8413ef929a5fbe

TypeError: 'NoneType' object is not iterable

In [58]:
results[0]

NameError: name 'results' is not defined

# Test

In [40]:
dfs = []
for i in range(1, 10):
    df = pd.read_csv(f"./data/test/{i}.csv")
    df = df.drop('â„–', axis=1)
    df["isToken"] = df["isToken"] == "yes"
    dfs.append(df)

In [41]:
dfs[0]

,Address,Cluster,isToken,CodeFor
0,0x0fc584529a2aefa997697fafacba5831fac0c22d,1,False,NaN
1,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,simple token,True,NaN
2,0xbe86f647b167567525ccaafcd6f881f1ee558216,1,False,NaN
3,0x612447e8d0bdb922059ce048bb5a7cef9e017812,1,False,0xbe86f647b167567525ccaafcd6f881f1ee558216
4,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,2,False,NaN
5,0xd9f21104a0ab4bb2bc70774d4472b3c885fd022c,2,True,NaN
6,0xe7f4c89032a2488d327323548ab0459676269331,1,True,NaN
7,0x73d2ff81fcea9832fc9ee90521abde1150f6b52a,1,False,NaN
8,0xfd8a76dc204e461db5da4f38687adc9cc5ae4a86,1,False,NaN
9,0x0ef372b6a2f8bb030760261b858b6c50e92d1680,1,False,0xfd8a76dc204e461db5da4f38687adc9cc5ae4a86
10,0x3e135c3e981fae3383a5ae0d323860a34cfab893,1,False,NaN
11,0x72012ada1d0a9e9cba22b3f13f3bc52b57ed6b66,1,False,0x3e135c3e981fae3383a5ae0d323860a34cfab893
12,0xb91bca4c6a607448a093803b3b2a9a4ed3e9f71e,1,True,0xaddc3e67a500f7037cd622b11df291a6351bfb64
13,0xaddc3e67a500f7037cd622b11df291a6351bfb64,1,False,NaN
14,0x688c3e4658b5367da06fd629e41879beab538e37,1,False,NaN
15,0xf7a232044c586d658f826e1932c37cad770b0687,1,False,0x688c3e4658b5367da06fd629e41879beab538e37
16,0x77655099f72484fa7d8cd701112c129b35b6ca6a,NaN,True,NaN
17,0xc90b47731f9cd4db0df36c1e59fdca1fe9806475,1,False,0x77655099f72484fa7d8cd701112c129b35b6ca6a
18,0x2216d47494e516d8206b70fca8585820ed3c4946,NaN,True,NaN
19,0xf5ef6bcbc1b890e076ab2a68882c72099db2aa42,Sender,False,NaN

In [55]:
import numpy as np
res = np.array([])

for df in dfs:
    avg

(array([], dtype=float64), array([1., 1., 1.]))
(array([], dtype=float64), array([1., 1., 1.]))
(array([], dtype=float64), array([1., 1., 1.]))
(array([], dtype=float64), array([1., 1., 1.]))
(array([], dtype=float64), array([1., 1., 1.]))
(array([], dtype=float64), array([1., 1., 1.]))
(array([], dtype=float64), array([1., 1., 1.]))
(array([], dtype=float64), array([1., 1., 1.]))
(array([], dtype=float64), array([1., 1., 1.]))

In [51]:
res

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])